InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: No
  Designators: No
CompileFlags:
  Add: [--driver-mode=cl, "-Xclang", "-std=c++23"]
---
If:
  PathMatch: ".*ThirdParty/.*"
Diagnostics:
  ClangTidy:
    Add: []
    Remove: ["*"]
